<!-- Shows:

Category name

Short description

Link to view that category

-->

<h1><%= title %></h1>

<ul>
  <% categories.forEach(category => { %>
    <li>
      <!-- Clickable name goes to items in that category -->
      <a href="/categories/<%= category.id %>/items"><%= category.name %></a> - <%= category.description %>
      
      <!-- Edit link -->
      <a href="/categories/<%= category.id %>/edit">Edit</a>
      
      <!-- Delete form (POST) -->
      <form action="/categories/<%= category.id %>/delete" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
    <hr>
  <% }) %>
</ul>

<a href="/categories/new">Add New Category</a>



