<!-- Shows:

Category name

Short description

Link to view that category

-->

<h1><%= title %></h1>

<ul>
  <% categories.forEach(cat => { %>
    <li>
      <a href="/categories/<%= cat.id %>"><%= cat.name %></a>
      <a href="/categories/<%= cat.id %>/edit">Edit</a>
      <form action="/categories/<%= cat.id %>/delete" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
<a href="/categories/new">Add New Category</a>
