<!-- Shows:

Product name

Price

Category

Link to product page

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <%- include('partials/menu') %>
<div id="container">

<div id="titleSection">

<h1><%= item.name %></h1>
<p><%= item.price %></p>
<p><%= item.id %></p>

</div>
</div>

<a href="/items">Back to items</a>

<a href="/categories">Back to categories</a>


</body>
</html>